/* element declarations */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #777;
}

body {
  background: url(../images/concrete_seamless.png);
}

hr {
  margin: 0;
}

/* class declarations */
/* portfolio classes  */

.navbar {
  padding: 0;
  background: #ffffff;
  border-bottom: 2px solid #ccc;
}

.navbar-brand {
  background: #44aaa5;
  color: #ffffff;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  padding: 2%;
  margin: 0;
}

.title-text {
  padding: 3% 3%;
  margin-top: 55%;
  background: #44aaa5;
  color: #ffffff;
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 26px;
}

.heading-text {
  padding: 2.5% 2%;
  color: #44aaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.footer {
  background:#666;
  color: #ffffff;
  text-align: center;
  border-top: 8px solid #44aaa5;
  padding: 2%;
}
/* id declarations */
/* portfolio ids */

#main-container {
  margin-top: 5%;
  background: #ffffff;
}